<div class="column">
  <article class="card card--voting">
    <div class="card__content">
      <div class="card__header">
        <%= link_to voting do%>
          <%= image_tag  voting.image.url(:icon), class:'voting-icon' if voting.image.present? %>
          <h5 class="card__title"><%= translated_attribute voting.title %></h5>
        <% end %>
      </div>
      <p><%= truncate(translated_attribute(voting.description).html_safe, length: 100) %></p>
    </div>
  </article>
</div>