<% add_decidim_meta_tags(
       title: translated_attribute(voting.title),
       description: translated_attribute(voting.description)
   ) %>

<div class="row">
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="row column view-header">
      <h2 class="heading2"><%= translated_attribute voting.title %></h2>
    </div>
    <div class="section">
      <%= sanitize translated_attribute voting.description %>
    </div>
  </div>
</div>
